.question{
	border-bottom:1px solid #c1c1c1;
	padding:0px;
	padding-bottom:20px;
	
}

.question h3 {
	color: #333333;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 23px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.question p{	
	font-size:16px;
	font-family: "PT Sans", sans-serif;
	color:#333333;
	margin-bottom:0px;
}

.image-faq{
	float:left;
	width:27%;
}

.question{
	float:left;
	width:72%;
}

.question.right{
	margin-left:1%;
}

.question.left{
	margin-right:1%;
}

.page-template-faq .content{
	padding:60px 130px;
}

.row-question{
	margin-bottom:20px;
}

.top-image-feedabee {
    max-width: 100%;
    text-align: center;
    display: block;
}

.top-text-feedabee {
    text-align: center;
    font-size: 16px;
    font-family: "PT sans", sans-serif;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333333;
    color: #333;
    margin-bottom: 10px;
}

.top-text2-feedabee {
    font-size: 20px;
    font-family: "OpenSansLight", sans-serif;
    color: #333;
	margin-top:20px;
    margin-bottom: 20px;
}

.sticky{
    position:fixed;
    top:0px;
    width: 100%;
    left: 0px;
    padding: 15px 0;
    z-index:3;
}

.sticky .row {
    max-width: 1000px;
}

.sticky .menu li.current_page_item a{
	color:#fff;
}

.navbar-collapse.collapse{
	padding:0px;
	box-shadow: none;
	border:none;
}

.navbar-default {
    background: none;
    border: none;
    min-height: 0px;
    margin: 0;
}

.menu li a:hover{
	text-decoration: none;
}




@media (min-width:768px){
	.navbar-collapse.collapse {
	    display: inline-block!important;
	}
}

@media (max-width:992px){
	.menu{
		padding-left:0px;
	}

	.menu li.sep {
	    margin-right: 5px;
	    margin-left: 5px;
	}

	.sticky .row {
    	max-width: 750px;
	}
}

@media (max-width: 767px){
	.header-top{
		position:fixed;
	    top:0;
	    width: 100%;
	    left: 0;
	    padding: 15px 15px;
	    z-index:3;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background: none;
	}

	.navbar-default .navbar-toggle {
	    border: none;
	}

	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #484a4c;
	}

	.navbar-toggle .icon-bar {
		width: 48px;
	    border-radius: 0px;
	    height: 6px;
	    margin-bottom: 6px;
	}

	.navbar-toggle {
        position: absolute;
	    top: 0;
	    right: 80px;
	    margin: 0px;
	    padding: 20px 20px;
	    padding-top:24px;
	    padding-bottom:18px;
	}

	.navbar {
	    position: static;
	    display: inline;
	}

	.navbar-header {
	    width: 0px;
	}

	/* .sticky{
		padding-left:0px;
		padding-right:0px;
	} */

	.navbar-default  button[aria-expanded="true"], .navbar-default button[aria-expanded="true"]:hover, .navbar-default button[aria-expanded="true"]:focus {
		background:#bcd534;
		border-radius:0px;
	}

	.left-content-header{
		position:static;
	}

	.navbar-collapse.collapse.menu-container, .menu-container, .collapsing.menu-container {
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    top: 78px;
	    background: #bcd534;
	    text-align: center;
	    padding: 20px 0px;
	}

	.menu {
	    margin-bottom: 0px;
	}

	.collapsing {
	    -webkit-transition: none;
	    transition: height 0.01s;
	}


}

@media (max-width: 500px){
	/*.logo img{*/
		/*max-height:30px;*/
		/*max-width:300px;*/
	/*}*/

	.bayer-logo img {
	    width:45px;
	}

	/*.bayer-logo img {*/
	    /*max-height: 30px;*/
	/*}*/

	/*.navbar-toggle .icon-bar {*/
	    /*width: 30px;*/
	    /*height: 4px;*/
	    /*margin-bottom: 4px;*/
	/*}*/
	.heading.home {
		margin-top:60px!important;
	}
	.navbar-toggle {
	    top: 0px;
    	right: 65px;
    	padding: 21px 10px;
	}

	.navbar-collapse.collapse.menu-container, .menu-container, .collapsing.menu-container {
	    top: 75px;
	    padding: 15px 0;
	}

	.menu li a {
	    font-size: 10px;
	}

	.menu li.sep {
	    margin-left: 5px;
	    margin-right: 5px;
	    width: 2px;
	}
	
	.navbar-collapse.in{
		overflow-y:none;
	}
	.vertical-line-s {
		vertical-align:-9px!important;
	}
	.slide-box3 p {
		padding-top:14px!important;
	}
	.slide-box3 a {
		padding-top:15px!important;
	}
	.slide-box3 {
		height:250px;
	}
}