@font-face {
    font-family: 'CooperHewitt';
    src: url('../fonts/cooper-hewitt-2/CooperHewitt-Medium.otf');
    src: url('../fonts/cooper-hewitt-2/CooperHewitt-Medium.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/cooper-hewitt-2/CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/cooper-hewitt-2/CooperHewitt-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/cooper-hewitt-2/CooperHewitt-Medium.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/cooper-hewitt-2/CooperHewitt-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/open-sans/OpenSans-Light.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/open-sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       	url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
       	url('../fonts/open-sans/OpenSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       	url('../fonts/open-sans/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('../fonts/open-sans/OpenSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/open-sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      	 url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       	 url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
      	 url('../fonts/open-sans/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      	 url('../fonts/open-sans/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/open-sans/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/open-sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       	url('../fonts/open-sans/OpenSans-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
       	url('../fonts/open-sans/OpenSans-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
       	url('../fonts/open-sans/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       	url('../fonts/open-sans/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height:1.21;
	font-size:16px;
}

img {
	max-width: 100%;
}

.text {
	font-family: 'PT Sans', sans-serif;
}


h1, h2 {
	line-height:1;
}

.logo img {
	max-width:100%;
	max-width:160px;
}

ul {
	list-style: none;
}

.menu {
	display:inline-block;
}

.menu li {
	font-weight: 800;
	display:inline-block;
	text-transform: uppercase;
}

.bayer-logo {
	display:inline-block;
}

.header-top {
	padding:15px 0;
	position:absolute;
	width:100%;
	z-index:2;
	background:#fff;
	transform:translateZ(0);
	-webkit-transition:.4s all ease-out;
	-moz-transition:.4s all ease-out;
	-ms-transition:.4s all ease-out;
	transition:.4s all ease-out;
}

.header-top.sticky{
	background: #fff;
}
.menu li a {
	color:#6d6e71;
	font-size:16px;
}

.menu li.sep {
	margin-right:10px;
	margin-left:11px;
}

.menu li.sep:last-of-type {
	visibility:hidden;
}
/*.menu-main-menu-container {
	display:inline-block;
}*/

.menu li.current_page_item a {
	color:#333333;
}

.menu ul li a:hover, .menu ul li a:focus {
	text-decoration: none;
	color:#000;
}

.header {
	background-size:cover;
	background-position:center center;
	min-height:500px;
	padding-top: 75px;
	position:relative;
}

.container {
	max-width:1000px;
}
.sm-container {
	max-width:768px!important;
}
.bottom-pattern {
	bottom:0;
	position:absolute;
	width:100%;
	left:0;
}

.bottom-pattern img {
	width:100%;
}

.heading h1{
	color:#fff;
	text-transform: uppercase;
	font-size: 70px;
	font-weight: 800;
	letter-spacing: 10px;
	padding:15px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.content {
	background-color:#fff;
	padding:30px 0px;
	margin-top:-260px;
	position:relative;
	min-height:100%;
	z-index:2;
	/*box-shadow: 0px 0px 0px #000, -8px 90px 10px rgba(0, 0, 0, 0.45), 0px 0px 0px #000, 8px 90px 10px rgba(0, 0, 0, 0.45);*/
	border: 1px solid #323232;
}

.partner {
	border:1px solid #333;
	margin-top:15px;
	font-size:16px;
}

h2 {
	margin:0;
	padding:15px;
	letter-spacing: 5px;
	font-size:30px;	
	font-weight: 900;
	color:#333;
	text-transform: uppercase;

}

.partner-header {
	color:#fff;
	text-transform: uppercase;
	background-color:#1accca;
	border-bottom:1px solid #333;
}

.partner-img {
	float:left;
	margin-right:40px;
	padding-right:25px;
	max-width:200px;
	border-right:1px solid #333;
}

.inner-content {
	color:#333;
	padding:15px 60px 15px 30px;

}

.inner-content p {
	padding:10px 0;
}


.footer {
	font-size:10px;
	margin-top:20px;
	margin-bottom:20px;
}

.footer hr {
	margin:0 20px;
	margin-bottom:15px;
	border-top:1px solid #c1c1c1;
}
.map {
	height:500px;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
	-moz-box-shadow:    inset 10px 10px 10px rgba(0,0,0,.1), inset 10px -10px 10px rgba(0,0,0,.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
    -webkit-box-shadow: inset 10px 10px 10px rgba(0,0,0,.1), inset 10px -10px 10px rgba(0,0,0,.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
    box-shadow:         inset 10px 10px 10px rgba(0,0,0,.1), inset 10px -10px 10px rgba(0,0,0,.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

#map {
	height:100%;
}

.map #map {
	width:50%;
	float:left;
}

.map .info-wrapper {
	position:absolute;
	right:0;
	top:0;
	width:calc(50% + 40px);
	height:500px;
}

.map .info {
	float:right;
	width:calc(100% - 40px);
	padding:15px 30px 15px 30px;
	box-shadow:-10px 0px 13px rgba(0,0,0,.3);
	z-index:2;
	position:relative;
}

.map .info .title h3 {
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
	margin:0;
	margin-bottom:15px;
}

.map .info hr {
	width:90%;
	border:1px solid #c1c1c1;
	margin-left:0;

}

.map .info .map-partner {
	position:relative;
}

.map-partner .arrow {
	position:absolute;
	display:none;
	width:30px;
	height:30px;
	left:-45px;
	top:50%;
	background-color:#fff;
	-webkit-transform:rotateZ(45deg);
	-moz-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	transform:rotateZ(45deg);
	box-shadow: -9px 8px 13px rgba(0,0,0,.3);
}

.map-partner.active {
	color:#da1976;
}

.map-partner.active .arrow {
	display:block;
}

.map-partner .description {
	font-family:'PT Sans', sans-serif;
	font-size:16px;
}

.heading.home {
	margin-top:120px;
	color:#fff;
	width: 100%;
	max-width:100%;
	font-size:16px;
	font-family:'PT Sans', sans-serif;
}

.heading.home h1 {
	font-size:60px;
	margin:0;
	padding:0;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
.home-slider {
	max-width:100%!important;
	width:100%;
	padding:0!important;
	margin:0!important;
}

h2{
	font-family: 'OpenSansBold', sans-serif;
	font-weight: 800;
	letter-spacing:0;
}

.heading.home hr {
	margin:0 auto;
	margin-bottom:20px;
	width:69%;
	border:1px solid #fff;

}

.underlay {
	max-width:100%;
	position:relative;
}

.underlay h1 {
	color:#fff;
	font-size:30px!important;
}
.icons {
	text-align:center;
	padding:15px;
}

.icons .icon {
	display:inline-block;
	min-width:210px;
	color:#333;
	font-size:20px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	background-size:contain;
	cursor:pointer;
	background-position:center;
	background-repeat: no-repeat;
	margin-right:15px;
	padding:30px 10px;
}

.icons .icon:hover {
	color:#1accca;
}

.icon.commit {
	background-image:url('../images/commit-icon.png');
}

.icon.beehalf {
	background-image:url('../images/beehalf-icon.png');
}

.icon.freeseeds {
	background-image:url('../images/freeseeds-icon.png');
}

.section {
	margin-bottom:10px;
	padding:70px 10px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
}


.section.feedabee {
	background:#fff;
}

.section.education {
	background-image:url('../images/yellow_bar.jpg');
}

.section.partners {
	background-image:url('../images/flowers-partners.png');
}

.section h2 {
	color:#fff;
	text-transform: uppercase;
	font-size:50px;
	padding:0;
	margin-bottom:5px;
}

.section .inner {
	max-width:600px;
	color:#fff;
	margin:0 auto;
}

.section .inner p {
	margin-bottom:25px;
	font-family: 'OpenSansLight', sans-serif;
}

.button-default {
	color:#fff;
	text-transform: uppercase;
	padding:3px 35px;
	margin-top:20px;
	font-size:18px;
	border:1px solid #fff;
	letter-spacing: 2px;
	background-color:transparent;
	-webkit-transition:.3s all ease-out;
	-moz-transition:.3s all ease-out;
	-ms-transition:.3s all ease-out;
	-o-transition:.3s all ease-out;
	transition:.3s all ease-out;
}

.button-default:hover, button-default:focus {
	text-decoration: none;
	background-color:#fff;
}

.section.feedabee a.button-default:hover, .section.feedabee a.button-default:focus {
	color:#eb1c74;
}
.section.education a.button-default:hover, .section.education a.button-default:focus {
	color:#f9e11b;
}
.section.partners a.button-default:hover, .section.partners a.button-default:focus {
	color:#1accca;
}

.overlay {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99;
	background-color:rgba(0,0,0,.5);
}

.popup {
	background-color:#fff;
	width:420px;
	position:fixed;
	left:50%;
	color:#fff;
	border-radius:15px;
	z-index:101;
	top:60px;
	display:none;
	overflow:hidden;
	max-width:100%!important;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}


.popup .popup-header {
	padding:10px;
	color:#333;
}

.popup .popup-body {
	padding:20px;
	font-family: 'CooperHewitt';
}

.popup .lists {
	font-size:12px;
}

.popup.commit-popup ul {
	list-style: disc;
	padding-left:20px;
	margin:10px 0 25px 0;
}
.popup .popup-footer {
	padding:17px;
}

.popup h3, .popup .share h3 {
	font-weight: 900;
	font-size:25px;
	line-height:1;
	text-transform: uppercase;
	margin:0;
	font-family: 'Open Sans';
}

.popup hr.sep {
	width:60%;
	padding:0;
	margin:5px auto;
}
.popup.commit-popup p.desc {
	margin-top:8px;
}
.popup.commit-popup .popup-body {
	background-image:none;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}
.popup.commit-popup .popup-body {
	padding:0;
}

.commit-popup {
	width:380px;
}
.commit-popup .share {
	position: absolute;
    bottom: 34px;
    margin:25px 0 0!important;
    width: 100%;
}
.popup.thankyou-popup .popup-body {
	background-image:url('../images/thankyou-popup.jpg');
	background-position:top top;
	background-size:cover;
	background-repeat:no-repeat;
}

.popup.thankyou-popup .share p{
	font-size:16px;
	font-family: 'PT Sans Caption', sans-serif;
	margin:15px 0;
}

.popup .share {
	background-color:rgba(0,0,0,.5);
	padding:15px;
	margin:25px -20px -20px -20px;

}
.popup .share-icons {
	margin-right:10px;
}
.popup .share-text {
	text-transform: uppercase;
	font-family: 'CooperHewitt';
	letter-spacing: 3px;
	font-size:22px;
}

.popup.thankyou-popup .share {
	margin-top:200px;
}

.glyphicon-remove {
	cursor:pointer;
}

.popup.beehalf-popup, .popup.freeseeds-popup {
	width:350px;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}

.popup.beehalf-popup .popup-header, .popup.freeseeds-popup .popup-header{
	border-bottom:4px solid #333;
	padding-bottom:15px;
}

.popup.beehalf-popup .popup-body, .popup.freeseeds-popup .popup-body {
	background-color:#1accca;
	font-family: 'PT Sans Caption', sans-serif;
}

.popup .updates  {
	font-size:12px;
	
}

.popup .updates p{
	font-weight: normal;
	display:inline;
}

.popup .updates input[type="checkbox"]{
	display:none;
}

.checkbox {

}

input[type="text"], input[type="email"], input[type="password"] {
	border-radius:0;
	border:0;
	color:#333;
	font-size:16px;
	font-family:'CooperHewitt';
	height: 35px;
    line-height: 36px;
	letter-spacing:2px;
	width:100%;
	margin-top:15px;
}

button[type="submit"] {
	width:100%;
	font-family: 'CooperHewitt';
	height: 35px;
    line-height: 36px;
	letter-spacing:3px;
	font-size:16px;
	padding:0;
}

button[type="submit"]:hover {
	color:#1accca;
}

.checkbox {
	padding:1px 2px;
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align: middle;
	margin-right:7px;
	cursor:pointer;
	border:2px solid #fff;
}

.popup input[name="city"] {
	width:calc(75% - 15px);
	margin-right:10px;
	display:inline-block;
}

.popup input[name="state"] {
	width:25%;
	display:inline-block;
}

.popup input[name="zip"] {
	width:calc(66% - 15px);
	display:inline-block;
	margin-right:10px;
}
.popup.freeseeds-popup button[type="submit"]{
	width:34%;
	display:inline-block;
	padding:0;
	height: 35px;
    line-height: 36px;
	text-align: center;
}

.checkbox .glyphicon-remove {
	display:none;
}

input[type=checkbox]:checked + label .checkbox .glyphicon-remove {
	display:block;
}


.image-faq.right {
	float:right;
}

.ed-section {
	margin: 0 25px;
	padding: 25px 0;
	color:#333;
	line-height:1.21;
	font-family:'OpenSansLight', sans-serif;
	border-bottom:1px solid #333333;
	font-size:20px;
}
.ed-section:last-child {
	border-bottom: none;
}

.ed-section .title h2 {
	font-family:'OpenSansBold';
	font-size:20px;
	text-transform: uppercase;
	padding:15px 0;
	letter-spacing: 0;
	font-weight: normal;
	line-height: 22px;
}

.little-hr {
	border-top:10px solid #1accca;
	width:100px;
	margin:20px 0;
}

.ed-section .social {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:18px;
	font-family:"OpenSansBold";
	padding-top:10px;
}

.ed-section .social .icons {
	margin-top:15px;
	padding:0;
	text-align:left
}

.ed-section .ed-image {
	float:right;
	display:table;
}

.table-cell {
	display:table-cell;
	height:100%;
	vertical-align: middle;
}

.ed-section:nth-of-type(2n) .ed-image {
	float:left;
}


.ed-section:nth-of-type(2n) .context {
	float:left;
	text-align:right;
}


.ed-section:nth-of-type(2n) .little-hr {
	margin-left:auto;
	margin-right:0;
}

.ed-section:nth-of-type(2n) .social .icons {
	text-align:right;
}

.pre-footer {     
	padding:30px 30px 10px 30px;     
	line-height:1.21; 
	font-size:14px;
}

.pre-footer .col-sm-9 {     
	padding-top: 12px;
}

.pre-footer .col-sm-3 img{     
	max-width: auto;
	width: 100%;
}
.vk-sb-modal-inner .vk-sb-modal-bottom {
    bottom: 0;
    position:absolute;
}

#vk-sb-banner {
	display:none!important;
}

.vk-sb-search_button {
	text-align:center;
	height:50px;
	overflow:hidden;
}

.vk-sb-search_button input {
	border:1px solid #333;
	height:50px;
	text-transform: uppercase;
	max-width:100%;
	text-align: center;
	width:300px;
	display:inline-block;
	margin-top:0;
	padding:15px 30px;
}

.vk-sb-search_button .search {
	display:inline-block;
	margin-left:10px;
	height:50px;
}

.vk-sb-search_button .search:hover {
	opacity:0.75;
}

#vk-sb-content {
	padding-top:20px!important;
}

.vk-sb-search_button .search img{ 
	max-width:100%;
	max-height:100%;
}

.context-sep {
	border-top:2px solid #333;
	margin:0 auto;
	width:70%;
	margin-bottom:25px;
}


.mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp,.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonDown {
	background-image:url(../images/arrow-down.png);
	background-position:center left;
    background-size: contain;
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp {
	background-image:url(../images/arrow-up.png);
	background-position: center left;
    background-size: contain;
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_draggerRail {
	background-color:#c1c1c1;
	opacity:1;
}

div#mCSB_1_scrollbar_vertical {
	display: block;
    height: 470px;
    width: 18px;
    margin-top: 18px;
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color:#999!important;
	opacity:1!important;
	width:17px!important;
	height:10px!important;
	margin-left:0px;
}

.mCSB_scrollTools .mCSB_draggerRail {
	width:2px!important;
}

.share-icons {
	width:36px;
	height:36px;
	display:inline-block;
}

.share-icons {
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;

}

.ed-content .share-icons, .share.video .share-icons{
	width: 30px;
	margin-top: 5px;
	height: 18px;
	border-radius: 100%;
}
.s-divider {
	border-right: 1px solid #333333;
	height: 22px;
	border-radius: 0;
	vertical-align: -2px;
	display: inline-block;
}

.share.video {
	position:absolute;
	display:inline-block;
	right:0;
	top:50%;
	margin-top:-145px;
	display:none;
}

.ed-content .share-icons.facebook  {
	background-image:url('../images/facebook-black.png');
}

.ed-content .share-icons.twitter {
	background-image:url('../images/twitter-black.png');
}

.ed-content .share-icons.tumblr {
	background-image:url('../images/tumblr-black.png');
}

.share-icons.facebook {
	background-image:url('../images/facebook-icon.png');
}

.share-icons.twitter {
	background-image:url('../images/twitter-icon.png');
}

.share-icons.tumblr {
	background-image:url('../images/tumblr-icon.png');
}

.to-center {
	display:table;
}

.btn-social-search {
	color:#363636;
	border:1px solid #363636;
	height:50px;
	line-height:49px;
	text-transform: uppercase;
	font-size:18px;
	display:inline-block;
	padding:0 120px;
	cursor:pointer;
	letter-spacing: 2px;
	-webkit-transition:.4s all ease-out;
	-moz-transition:.4s all ease-out;
	-ms-transition:.4s all ease-out;
	transition:.4s all ease-out;
}

.btn-social-search:hover {
	color:#fff;
	border-color:#c92373;
	background-color:#c92373;
}

#vk-sb-search {
	padding:0 70px!important;
}

#vk-sb-search_bar {
	height: auto!important;
    line-height: 1.21!important;
}

#vk-sb-modal .vk-sb-contain{
	top:inherit !important;
}

.footer-white{
	margin-bottom:0px;
	color:#333;
	margin-top: 10px;
}


.commit-grow-popup .popup-header {
    border-bottom: 4px solid #333;
}

.not-us .popup-header {
    background: #1accca;
    color: #fff;
    border-bottom: 4px solid #333;
}

.not-us .popup-header {}

.popup.not-us {
    background: #fff;
}



.not-us .popup-body {
    background: #fff;
    font-size: 18px;
    color: #333333;
    font-family:'PT Sans', sans-serif;
}

.images-video-end{
	width: 500px;
	max-width: 100%;
	display:none;
	cursor:pointer;
}

.not-us .btn-default {
    width: 100%;
    border: 1px solid #1accca;
    color: #1accca;
    font-weight: normal;
    font-family: "CooperHewitt", sans-serif;
    height: 35px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 3px;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 15px;
	-webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
	transition: .3s all ease-out;
}


.not-us .btn-default:hover, .not-us .btn-default:focus{
	color: #fff;
	text-decoration: none;
	background-color: #1accca;
}

@media(max-width: 768px){
	.post.video iframe {
	    max-width: 100%;
	    height: auto;
	    min-height: 250px;
	}
}

@media(max-width: 500px){
	.post.video iframe {
	    min-height: 180px;
	}
}

input[name="updates_bayer"], .pdb-updates_bayer{
	display:none;
}

.pdb-signup .checkbox{
	display:none;
}

.question.last-q{
	border-bottom:0px;
}
.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.footer-share {
	max-width:365px;
	width:100%;
	margin:auto;
	padding-top:10px;
}
.footer-share h3 {
	font-size:19px;
	color:#333333;
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
}
.footer-share ul {
	display:inline-block;
	padding:5px;
}
.footer-share ul li {
	display: inline-block;
}
.footer-share ul li:nth-child(-n+3) {
	border-right: 1px solid #333333;
	padding-right:20px;
}
.footer-share ul > li:not(:first-child) {
	padding-left:18px;
}
.footer-share ul li img {
	width:30px;
}
.footer-share ul > li:nth-child(n+2) img {
	width:25px;
}

.bee-footer-icon {
	width:40px!important;
}
.sticky-submenu {
	position: absolute;
	top:80px;
	width:100%;
	height:40px;
	background:#bcd534;
	z-index:9999;
}
.sticky-round-border {
	display: block;
	margin:auto;
	width:150px;
	height:70px;
	background:#bcd534;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}
.sticky-grid {
	position: relative;
	max-width:1050px;
	width:100%;
	margin:auto;
}
.sticky-submenu img {
	display: block;
	margin:auto;
	padding-top:10px;
}
.sticky-submenu  p {
	position: absolute;
	top:10px;
	font-size:15px;
	font-weight:bold;
}
.sticky-grid p:first-child {
	left:0;
}
.sticky-submenu p:nth-of-type(2) {
	right:40px;
}
.slide-box1 {
	background-color: rgba(255, 255, 255, 0.8)!important;
	z-index:1;
}
.slide-box1 h3 {
	font-family:'OpenSansLight';
	font-size:50px!important;
	line-height:58px!important;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
	letter-spacing: -1px!important;
}
.slide-box1 p {
	margin-top: 20px;
	font-family:'OpenSansLight';
	font-weight:lighter!important;
	font-size:30px!important;
	line-height:36px!important;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}
.slide-box1 img {
	width: 32px!important;
	height:15px!important;
	margin:20px!important;
}
.slide-2 {
	width:100%!important;
	height:100%!important;
	background:#7e9d17;
}
.slide-2 img {
	width: 500px;
	margin-top:80px;
}
.slide-2 h2 {
	font-family: 'OpenSansLight';
	color:#fff;
	font-weight: lighter;
	text-transform: none;
	text-align:center;
	font-size: 38px;
}
.slide-2 a {
	font-family:'OpenSansBold';
	color:#fff!important;
}
.slide-box3 {
	background-color: rgba(255, 255, 255, 0.8)!important;
	z-index:1;
	min-width:320px!important;
	max-width:600px!important;
}
.slide-box3 h3 {
	font-family:'OpenSansLight';
	font-size:70px!important;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
	letter-spacing: -1px!important;
}
.slide-box3 p {
	font-family:'OpenSansLight';
	font-weight:lighter!important;
	font-size:40px!important;
	line-height:46px!important;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
}
.slide-box3 .arr-down-slide {
	width: 32px!important;
	height:15px!important;
	display:block;
	margin:auto!important;
}
.slide-box3 ul {
	display:inline-block!important;
	margin:auto!important;
	padding:0!important;
}
.slide-box3 li {
	display:inline-block!important;
}
.slide-box3 li img {
	width:25px!important;
	height:25px!important;
}
.slide-box3 a {
	display:block;
	margin:auto!important;
	padding-top:30px!important;
	padding-bottom:10px!important;
}
.vertical-line-s {
	border-right:1px solid #333333!important;
	width:1px!important;
	height:30px!important;
	display:inline-block;
}
.slide-4 {
	width:100%!important;
	height:100%!important;
	background:#dd9503;
	position: relative;
}
.slide-4 h2 {
	font-family: 'OpenSansLight';
	color:#fff;
	font-weight: lighter;
	text-transform: none;
	text-align:center;
}
.home-content {
	max-width:768px!important;
	width:100%!important;
}
.home-content h2 {
	font-family:'OpenSansLight';
	font-size:42px;
	letter-spacing: -1px;
	text-transform: none;
	color:#333333;
	font-weight: normal;
}
.home-content img {
	width: 37px;
	margin-bottom: 6px;
}
.home-content span {
	font-family:'OpenSans-Semibold';
	color:#333333;
}
.home-content p {
	color: #333333;
	padding-top:20px;
	font-size: 19px;
}
.home-tabs-section {
	position: relative;
	max-width:1000px;
	width:100%;
	margin:auto;
	padding-bottom:50px;
}
.bee-home-tab {
	position:relative;
	background:#f2f2f2;
	width:330px;
	height:330px;
	display:inline-block;
}
.bee-home-tab:nth-child(2) {
	background:#fff;
}
.bee-home-tab:nth-child(2) img {
	padding:0;
	height:211px;
}
.bee-home-tab img {
	padding:25px;
	display: block;
	margin: 0 auto;
}
.bee-home-tab p {
	font-family:'OpenSansBold';
	text-align:center;
	padding: 10px 20px;
}
.bee-home-tab:nth-child(3) p {
	margin-top:15px;
}
.tab-player {
	width: 290px;
	height: 165px;
	position: relative;
	margin: 0 auto;
	display: block;
	margin-top:30px!important;
	padding:0!important;
}
.tab-player:hover {
	cursor:pointer;
}
.tab-player.tablet-t-player {
	height:180px;
}
.player-slider {
	margin-top:70px;
	border:3px solid #fff;
	-webkit-box-shadow: 7px 10px 20px -6px rgba(0,0,0,0.48);
	-moz-box-shadow: 7px 10px 20px -6px rgba(0,0,0,0.48);
	box-shadow: 7px 10px 20px -6px rgba(0,0,0,0.48);
}
.white-background {
	background:#fff!important;
}
.bee-home-tab-tablet {
	display:none;
	position:relative;
	background:#f2f2f2;
	width:340px;
	height:220px;
}
.bee-home-tab-tablet p {
	font-family:'OpenSansBold';
	text-align:center;
	padding-top:70px;
	font-size:16px;
	margin:3px;
}
.bee-home-tab-tablet img {
	padding-top:20px;
	display: block;
	margin:0 auto;
	height:210px;
}
.partners {
	font-family: 'OpenSansLight';
}
.partners h1 {
	font-size:60px;
	padding-bottom:10px;
}
.partners p {
	font-size:20px;
	text-align:left;
}
.center-container {
	margin:0 auto;
	max-width:680px;
	width:100%;
}
.text-bold {
	font-family: 'OpenSansBold';
}
.partners h2 {
	font-size:18px;
	letter-spacing: 1px;
	font-weight: normal;
}
.full-width {
	width:100%;
}
.legend-img {
	margin-top: -60px;
	margin-left: 50px;
	padding-bottom: 60px;
}
.partners h3 {
	font-size:20px;
	text-align:left;
	padding-bottom:10px;
}
.green-link {
	font-family:'OpenSansLight';
	font-size:20px;
	color:#a9b008;
}
.green-link:hover {
	text-decoration:underline;
	color:#a9b008;
}
.text-decoration {
	text-decoration: underline;
}
.horz-line {
	width:100%;
	height:2px;
	margin:0 auto;
	display:block;
	background-color:#333333;
	margin-top:30px;
	margin-bottom:30px;
}
.ed-content {
	font-family: 'OpenSansLight';
}
.ed-content h1 {
	font-size:60px;
	color: #333333;
	letter-spacing: -1px;
}
.share {
	display:inline-block;
}
.title-feedabee {
	font-family: 'OpenSansLight';
	font-size:60px;
	letter-spacing:-1px;
}
.top-text2-feedabee img {
	width:20px;
}
.feedabee-textw {
	width:103%;
}
.resp-bee-icon {
	display:none;
}
.footer-top-el {
	display:inline-block;
}
.sticky-responsive {
	display:none;
}
.bee-home-tab a {
	font-family: 'OpenSansBold';
	text-align:center;
	color:#333333;
}
.modal_popout {
	max-width:500px;
	height:250px;
	width:100%;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0 0 -250px;
}
.youtube-share {
	font-family:'OpenSansLight';
	border:1px solid #6C7C1A;
	background:#F7FBEB;
	display:none;
}
.youtube-share img:first-child {
	margin-top: 20px;
	margin-left: 40px;
}
.youtube-share h2 {
	font-family:'OpenSansLight';
	font-size:25px;
	color:#94979C;
	text-transform: none;
	letter-spacing:0;
}
.youtube-share span {
	display:block;
	position:absolute;
	top:15px;
	left:150px;
	width:1px;
	height:220px;
	background:#333333;
}
.youtube-share .right-share {
	position:absolute;
	top:0;
	left:180px;
}
.youtube-share h1 {
	font-family:'OpenSansLight';
	font-size:45px;
	color:#333333;
	text-align:center;
}
.s-bee-img {
	width:20px;
}
.youtube-share p {
	text-align:center;
	font-size:20px;
}
.youtube-share ul {
	display: inline-block;
	margin: 0 auto;
	width: 180px;
	padding: 0;
	margin-left: 50px;
}
.youtube-share li {
	display:inline-block;
}
.youtube-share ul li img {
	width:17px;
}

.popup {
	display: none;
	position: fixed;
	z-index: 99920;
	top: 50%;
	-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	border-radius: 0;
}

#popup-thanks-generic {
	background: url('../images/thanks-generic.jpg') no-repeat;
	width: 413px;
	height: 416px;
	margin-top: -210px;
}
#popup-thanks-generic a.close_top {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 0;
	right: 0;
}
#popup-thanks-generic a.close_bottom {
	width: 30%;
	height: 35px;
	position: absolute;
	bottom: 15px;
	left: 35%;
}


#popup-thanks-video {
	background: url('../images/thanks-video.jpg') no-repeat;
	width: 409px;
	height: 515px;
	margin-top: -250px;
}
#popup-thanks-video a.close_top {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 0;
	right: 0;
}
#popup-thanks-video a.close_bottom {
	width: 30%;
	height: 35px;
	position: absolute;
	bottom: 15px;
	left: 35%;
}

#popup-share {
	background: url('../images/popup-share.jpg') no-repeat;
	width: 413px;
	height: 519px;
	margin-top: -260px;
}
#popup-share a.close_top {
	width: 10%;
	height: 10%;
	position: absolute;
	top: 0;
	right: 0;
}
#popup-share a.twitter_share_button {
	width: 20%;
    height: 15%;
    position: absolute;
    bottom: 23px;
    left: 13%;
}
#popup-share a.facebook_share_button {
	width: 20%;
	height: 15%;
	position: absolute;
	bottom: 23px;
	left: 40%;
}
#popup-share a.tumblr_share_button {
	width: 20%;
	height: 15%;
	position: absolute;
	bottom: 23px;
	left: 68%;
}

#video-share {
	background: url('../images/video-share.jpg') no-repeat;
	width: 670px;
	height: 319px;
	margin-top: -230px;
	-webkit-box-shadow: none;
	box-shadow: none;
	position: absolute; !important;
}
#video-share a.twitter_share_button {
	width: 8%;
    height: 15%;
    position: absolute;
    bottom: 20px;
    left: 53%;
}
#video-share a.facebook_share_button {
	width: 8%;
	height: 15%;
	position: absolute;
	bottom: 20px;
	left: 62%;
}
#video-share a.tumblr_share_button {
	width: 8%;
	height: 15%;
	position: absolute;
	bottom: 20px;
	left: 71%;
}

.billion-trigger {
	cursor: pointer;
}

.slide-1 .tp-bgimg {
	background-position: center bottom !important;
}
.slide-1 .tp-caption {
	border: 1px solid #ababab;
}

.bee-home-tab a {
	text-decoration: none;
}
.tab-player-container {
	cursor: pointer;
}
.ed-content .col-sm-6 {
	height: auto !important;
}