@media(max-width:1024px) {
	.sticky-submenu {
		height:50px;
	}
	.sticky-submenu  p {
		font-size:13px;
	}
	.sticky-grid p:first-child {
		text-align:right;
		width:350px;
		left:115px;
	}
	.sticky-submenu p:nth-of-type(2) {
		text-align:left;
		width:350px;
		right:115px;
	}
	.bee-home-tab {
		display: none;
	}
	.bee-home-tab-tablet {
		display:inline-block;
	}
	.home-tabs-section {
		width:680px;
	}
}
@media (max-width:992px) {
	.header-top {
		height:80px;
	}
	 .header-top > .container {
		max-width:990px!important;
		width:100%;
	}
	.header-top > .container > .row > .left-content-header {
		padding-right:40px;
	}
	.logo img {
		position: absolute;
		left: 8px;
	}
	.sticky-grid p:first-child {
		text-align:right;
		width:300px;
		left:30px;
	}
	.sticky-submenu p:nth-of-type(2) {
		text-align:left;
		width:300px;
		right:30px;
	}
	.legend-img {
		margin-top: 30px;
		margin-left: 50px;
		padding-bottom: 20px;
	}
}
@media (max-width:837px) {
	.header-top > .container > .row > .left-content-header {
		padding-right:0;
		width:96%;
	}

}

@media (min-width:768px) {

	.ed-content .col-sm-6 {
		width: 49.5% !important;
	}
}

@media (max-width:768px) {

	.pre-footer .col-sm-3 {     
		margin: 0 auto 15px auto;
	}

	.player-slider {
		width:470px!important;
		height:270px!important;
	}
	.slide-4 h2 {
		width: 100%;
	    margin: 0 auto;
	    font-size: 28px;
	}
	#video-share {
		z-index: 999999999999999999999;
		margin-top: -200px;
		-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
		box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	}
	.slide-box3 h3 {
		font-size:50px!important;
	}
	.slide-box3 p {
		font-size:30px!important;
		line-height:36px!important;
	}
	.slide-box3 li img {
		width:20px!important;
		height:20px!important;
	}
	.vertical-line-s {
		border-right:1px solid #333333!important;
		width:1px!important;
		height:22px!important;
		display:inline-block;
	}
	.ed-section .ed-image, .ed-section .context, .ed-section .social .icons{
		text-align:center;
		width:100%;
	}

	.header-top {
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		transition:none;
	}

	.ed-section:nth-of-type(2n) .context{
		text-align:center;
	}

	.ed-section {
		border-width:1px;
	}

	.ed-section:nth-of-type(2n) .little-hr, .ed-section .little-hr{
		margin:20px auto;
	}

	.ed-section:nth-of-type(2n) .social .icons{
		text-align:center;
	}

	.pre-footer > div {
		text-align: center;
		margin-bottom:15px;
	}
	.pre-footer {
		padding:30px 15px;
	}

	.bottom-pattern {
		display:none;
	}

	.underlay{
		margin:0;
		padding:15px;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
	}

	.underlay hr {
		display:none;
	}

	.heading.home h1 {
		font-size:34px;
		letter-spacing: 7px;
	}

	.icons .icon {
		margin-bottom:15px;
	}

	.heading h1 {
		font-size:40px;
	}
	.content {
		padding:30px 15px;
		margin-left:-15px;
		margin-right:-15px;
		margin-top: -201px;
	}

	.page-template-faq .content {
		padding:30px 15px;
		margin-left:-15px;
		margin-right:-15px;
	}

	.image-faq, .question {
		width:100%;
		float:none;
		margin-bottom:15px;
		text-align:center;
	}

	.image-faq img{
		max-width:75%;
	}
	.map {
		height:auto;
		box-shadow: none;
	}
	.map #map {
		height:400px;
		float:none;
	}
	.map .info-wrapper, .map #map {
		width:100%;
		position:static;
	}
	.map .info-wrapper {
		height:200px;
	}

	div#mCSB_1_scrollbar_vertical {
		display: block;
	    height: 180px;
	    width: 18px;
	    margin-top: 18px;
	}
	.map .info-wrapper .info {
		width:100%;
		padding:15px 0;
	}
	.inner-content {
		padding:15px 5px;
	}
	.partner-img {
		padding-right:7px;
		margin-right:7px;
	}
	.inner-content p {
		font-size:12px;
		padding:0;
	}

	.slide-box1 h3 {
		font-size:36px!important;
		line-height:46px!important;
	}
	.slide-box1 p {
		font-size:24px!important;
		line-height:28px!important;
	}
	.slide-2 img {
		width: 400px;
	}
	.slide-2 h2 {
		font-size: 30px;
	}
}
@media (max-width:680px){
	.home-tabs-section {
		width:320px;
	}
	.bee-home-tab-tablet {
		display:none;
	}
	.sticky-submenu {
		display:none;
	}
	.heading.home {
		margin-top:80px;
	}
	.bayer-logo {
		margin-right: -15px;
	}
	.slide-box1 {
		min-width:300px!important;
		width:300px!important;
	}
	.slide-box1 h3 {
		font-size:22px!important;
		line-height:24px!important;
	}
	.slide-box1 p {
		font-size: 13px!important;
		line-height: 18px!important;
		padding-top:10px!important;
	}
	.slide-2 img {
		width: 300px;
		margin-top: 80px;
	}
	.slide-2 h2 {
		font-size:24px;
	}
	.slide-box3 h3 {
		padding-top: 20px;
		font-size:28px!important;
	}
	.slide-box3 p {
		font-size:20px!important;
		line-height: 26px!important;
		margin-bottom: 0px !important;
	}
	.bee-home-tab {
		display:inline-block;
		float:none!important;
	}
	.footer-share {
		max-width:300px;
	}
	.footer-share ul li:nth-child(1) {
		display:none;
	}
	.resp-bee-icon {
		display:inline-block;
	}
	.footer-top-el {
		width: 150px;
		margin: auto;
		display: block;
	}
	.footer-share ul {
		margin: auto;
		display: block;
		width: 200px;
	}
	.sticky-responsive {
		display:block;
		position:relative;
		top:0;
		height:70px;
	}
	.sticky-grid-resp {
		width:320px;
		margin:auto;
	}
	.sticky-submenu  p {
		font-size:12px;
	}
	.sticky-submenu p:nth-of-type(1) {
		text-align:right;
	}
	.sticky-submenu p:nth-of-type(2) {
		text-align:left;
		width:127px;
		right:110px;
	}
	.sticky-round-border {
		width:45px;
	}
}
@media (max-width:667px){
	.header {
		min-height: 255px;
		padding-top: 55px;
	}

	.pre-footer img {
		width:50%;
	}
}
@media (max-width:480px) {
	.slide-box3 {
		min-width:280px!important;
		max-width:280px!important;
	}
	.player-slider {
		margin-top:80px!important;
		width:310px!important;
		height:220px!important;
	}
	.slide-4 h2 {
		width: 300px;
	    margin: 0 auto;
	    font-size: 20px;
	}
	.sticky-submenu p:nth-of-type(2) {
		right:70px;
	}
}
@media (max-width:450px) {
	.popup {
		margin-top: 5% !important;
		top:0;
		background-size: contain !important; 
	}
	#popup-thanks-generic {
		width: 320px;
		height: 322px;
	}
	#popup-thanks-video {
		width: 320px;
		height: 403px;
	}
	#popup-share {
		width: 320px;
		height: 402px;
	}
	#video-share {
		width: 320px;
		height: 152px;
		margin-top: 160px !important;
		-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
		box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	}

	.section h2 {
		font-size:40px;
	}

	.popup .popup-body {
		padding:10px;
	}

	.popup h3 {
		font-size:18px;
		line-height:1.11;
	}

	.popup.commit-popup ul {
		font-size:12px;
	}
	.popup .share {
		margin: 25px -10px -10px -10px;
	}

	.partner-header {
		padding:8px 0;
		font-size:18px;
	}

	.header {
		min-height: 235px;
		padding-top: 35px;
	}

	.heading.home {
	    max-width: inherit;
	    width: auto;
	}
	.underlay {
	    padding: 35px 15px;
	}

	.heading h1 {
	    font-size: 35px;
	}
	.ed-section {
		padding:15px 0;
	}

}
@media (max-width:414px) {
	.sticky-submenu p:nth-of-type(2) {
		right:35px;
	}
	.ed-section .col-sm-6{
		padding:15px 0;
	}
}
@media (max-width:393px) {

	
}
@media (max-width:375px) {
	.sticky-submenu p:nth-of-type(2) {
		right:15px;
	}
	.sticky-submenu p:nth-of-type(1) {
		text-align:right;
		left: 15px;
	}
}
@media (max-width:340px) {
	.sticky-submenu p:nth-of-type(2) {
		right:0;
	}
	.slide-2 h2 {
		font-size:22px;
	}
}