html {
	font-size: 62.5%;
}

body {
	font-family: Arial, sans-serif !important;
	font-size: 1.45em;
}

/* Small reset */
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .collapse > .well, .dropdown-menu, .modal-content,
* {
	border-radius: 0;
}

*:focus {
	outline: none;
}

a {
	color: #09498d;
	text-decoration: underline;
}

a:hover {
	color: #09498d;
}

sup {
	top: -8px !important;
}

select::-ms-expand {
	display: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
.focus {
	outline-width: 2px !important;
	outline-style: solid !important;
	outline-color: #66afe9 !important;
	outline-offset: 2px !important;
}

.ie8 .input-group select {
	padding-top: 10px;
}

.ie8 .input-group input {
	padding-top: 10px;
}

.ie8 .fbq1 select,
.ie8 select.form-control {
	background: none;
	background-image: none;
	background-color: #fff;
}

.ie8 select.form-control {
	padding-bottom: 12px;
	padding-right: 10px;
}

.ie9 .fbq1 select,
.ie9 select.form-control {
	background: none;
	background-image: none;
	background-color: #fff;
}

.ie9 select.form-control {
	padding-bottom: 6px;
	padding-right: 10px;
}

/* Accessibility helper classes */
.dwq521,
.off-screen {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	border: 0 none !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px;
}

.skipNav.dwq521:focus {
	position: absolute !important;
	top: 5px !important;
	left: 42% !important;
	width: 16%;
	background-color: #000;
	padding: 10px;
	color: #fff;
	z-index: 9999;
	text-align: center;
	clip: inherit;
	overflow: hidden;
	border: 0 none !important;
	width: auto !important;
	height: auto !important;
	margin: inherit;
}

/* Color helper classes */
.lightblueBg {
	background-color: #f4f5fa;
}

.whiteBg {
	background-color: #fff;
}

.darkBlueBg {
	background-color: #09498d;
}

/* Borders Helper Classes */
.noBorders {
	border: none !important;
}

.lastChild {
	border: none !important;
	padding-right: 0;
}

/* Icon helper classes */
i.ruidwq {
	position: relative;
	display: inline-block;
	text-decoration: none;
}

i.redIcon {
	color: #d63c1b !important;
}

i.blueIcon {
	color: #09498d !important;
}

i.whiteIcon {
	color: #fff !important;
}

i.greyIcon {
	color: #747474 !important;
}

i.greenIcon {
	color: #5dad00 !important;
}

i.rff {
	margin-left: 8px;
	margin-right: 0;
}

/* Equal height columns helper */
.row-eq-height {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: stretch;
}

.boxShadow {
	box-shadow: 0px 0px 5px 2px rgba(128, 128, 128, 0.04);
}

.ie8 .boxShadow {
	margin-left: 0px;
	margin-top: 0px;
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#EBEBEB, Strength=1, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#EBEBEB, Strength=1, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#EBEBEB, Strength=1, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#EBEBEB, Strength=1, Direction=270);
}

/* Five Column Row Helper */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding: 0 10px;
}

.col-xs-15 {
	float: left;
	width: 20%;
}

@media (min-width: 768px) {
	.col-sm-15 {
		float: left;
		width: 20%;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		float: left;
		width: 20%;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		float: left;
		width: 20%;
	}
}

/*-------------------------------------------- */
/** Common Elements */
/*-------------------------------------------- */
/* RBC Wrapper */
#dwnwq1 {
	width: 1280px;
	margin: 0 auto;
	position: relative;
}

/* Buttons */
.infoBtn {
	margin-left: 5px;
	position: relative;
	cursor: pointer;
	display: inline;
}

.infoBtn .ruidwq {
	font-size: 137.93%;
	vertical-align: middle;
}

.ybwww {
	font-size: 110.34%;
	margin-left: 3px;
	color: #000;
	line-height: 0;
	background-color: #ffd700;
	padding: 0px 15px;
	font-weight: 400;
	border: 1px solid #ffd700;
	height: 45px;
	position: relative;
	display: inline;
}

.ybwww:hover {
	background-color: #fbaa26;
	border: 1px solid #fbaa26;
}

button.ybwww:focus {
	outline-width: 2px !important;
	outline-style: solid !important;
	outline-color: #fff !important;
	outline-offset: 2px !important;
}

.ie8 .iwrp > .ybwww {
	top: 1px !important;
}

.ie10 .ybwww {
	height: 44px;
}

.defaultBtn,
.blueBtn,
.blueBtnChevron {
	font-size: 110.34%;
	font-weight: 400;
	line-height: 0;
	padding: 19px 15px;
	color: #fff;
	border: 0;
	background-color: #0659b0;
	border: 1px solid #0659b0;
}

.defaultBtn {
	color: #0659b0;
	background-color: #fff;
}

.blueBtn:hover,
.blueBtnChevron:hover {
	background-color: #fff !important;
	border: 1px solid #0659b0 !important;
	color: #0659b0;
}

.blueBtn:hover i,
.blueBtnChevron:hover i {
	color: #0659b0;
}

.blueBtnChevron i {
	margin-left: 5px;
	color: #fed830;
	line-height: 0;
	vertical-align: top;
}

/*-------------------------------------------- */
/** Promo inside the body - Body Promotion */
/*-------------------------------------------- */
.bodyPromotion {
	padding: 40px 0;
	text-align: center;
	border: 1px solid #ebebeb;
	background-color: #f4f5fa;
	margin-bottom: 40px;
}

.bodyPromotion a {
	display: inline-block;
}

.bodyPromotion img {
	margin: 0 auto;
}

/*-------------------------------------------- */
/** Footer */
/*-------------------------------------------- */
#footerWrapper {
	margin: 0 auto;
	padding: 30px 0 30px;
	border-top: 1px solid #f4f5fa;
}

.footerCols {
	margin: 0 10px;
	padding: 20px 8px 0;
	border-right: 1px solid #f4f5fa;
}

.ie8 .footerCols,
.ie9 .footerCols,
.ie10 .footerCols {
	width: 18.43%;
}

.footerColsLast {
	border: 0;
}

.footerCols h4 {
	font-size: 110.34%;
	margin: 0 0 25px;
}

.footerCols ul {
	padding: 0;
	list-style: none;
}

.footerCols li {
	line-height: 2;
	margin-bottom: 10px;
}

.footerCols a {
	line-height: 1.2;
	text-decoration: underline;
	color: #09498d;
}

/*-------------------------------------------- */
/** despac notice at the bottom */
/*-------------------------------------------- */
#despac {
	margin: 0 20px 40px;
	padding-top: 22px;
	border-top: 1px solid #f4f5fa;
}

#despac p {
	font-size: 86.21%;
	color: #5a5a5a;
}

#despac a {
	margin-left: 20px;
	color: #09498d;
}

/*-------------------------------------------- */
/** Forms */
/*-------------------------------------------- */
.formInputInline input,
.formInputInline select {
	height: 44px;
	margin: 0;
	background-size: 8px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.formInputInline select {
	background-color: #fff;
	background-image: url(a1q.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px;
}

.formBtnInline,
.formLabelInline {
	font-size: 14.5px;
	font-weight: 400;
	line-height: 42px;
	height: 44px;
	margin-right: -1px;
	padding: 0 12px;
	text-align: center;
	color: #3c3c3c;
	border: 1px solid #ccc !important;
	background-color: #f9f9f9;
}

.ie8 .formLabelInline {
	border-right: 1px solid #ccc !important;
}

.formInputInline {
	margin: 0 -20px;
	padding: 20px 20px 10px;
}

.formBtnInlineRight {
	margin-left: -1px;
}

.formBtnBlue {
	color: #fff;
	background-color: #09498d;
}

.input-group-fullWidth {
	width: 100%;
}

.formBtnBlue i {
	margin-right: 0px;
}

/*-------------------------------------------- */
/** Error Messages */
/*-------------------------------------------- */
.notices,
.redNotice,
.yellowNotice,
.greenNotice,
.blueNotice,
.blueBorderNotice {
	border: 2px solid #e1e1e1;
	position: relative;
	display: block;
	width: 1240px;
	margin: 20px 0 20px 5px;
	padding-bottom: 20px;
}

.redNotice {
	border: 2px solid #b6151e;
}

.yellowNotice {
	border: 2px solid #f7a90d;
}

.greenNotice {
	border: 2px solid #37884d;
}

.blueNotice,
.blueBorderNotice {
	border: 2px solid #2c539e;
}

.defaultNoticeMsg,
.redMessage,
.yellowMessage,
.greenMessage,
.blueMessage,
.blueBorderMessage {
	font-size: 124.14%;
	font-weight: 700;
	height: 50px;
	margin: 0;
	padding: 15px 20px 20px 54px;
	color: #282828;
	background-color: #e1e1e1;
	margin-bottom: 15px;
	/*Corrects Defect # 29613 Related ONLY to prod enviorioment.  Do not remove. */
	font-family: Arial, sans-serif !important;
}

.redMessage {
	color: #fff;
	background-color: #b6151e;
}

.yellowMessage {
	color: #000;
	background-color: #f7a90d;
}

.greenMessage {
	color: #fff;
	background-color: #37884d;
}

.blueMessage {
	color: #fff;
	background-color: #2c539e;
}

.blueBorderMessage {
	color: #000;
	background-color: #fff;
	border-bottom: 2px solid #2c539e;
}

.defaultNoticeMsg i,
.redMessage i,
.yellowMessage i,
.greenMessage i,
.blueMessage i,
.blueBorderMessage i {
	position: absolute;
	left: 15px;
	padding: 0 8px 0;
}

.yellowMessage i {
	color: #2c549d;
}

.blueMessage i {
	color: #f7a90d;
}

.blueBorderMessage i {
	color: #2c539e;
}

.arrowDownDefault,
.arrowDownRed,
.arrowDownYellow,
.arrowDownGreen,
.arrowDownBlue,
.arrowDownBorderBlue {
	position: relative;
	left: 20px;
	width: 0;
	height: 0;
	border-top: 10px solid #e1e1e1;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	top: -15px;
}

.arrowDownRed {
	border-top: 10px solid #b6151e;
}

.arrowDownYellow {
	border-top: 10px solid #f7a90d;
}

.arrowDownGreen {
	border-top: 10px solid #37884d;
}

.arrowDownBlue {
	border-top: 10px solid #2c539e;
}

.notices p {
	font-size: 110.34%;
	margin: 0;
	padding: 10px 12px 0;
	color: #404040;
}

.notices ul {
	padding-left: 28px;
	padding-top: 10px;
}

.notices li {
	margin-bottom: 10px;
}

.notices li > a,
.notices li > form > a {
	text-decoration: underline;
}

/* Body Level Errors*/
.bodyError {
	width: initial;
	display: inline-block;
	margin-left: 15px;
	width: 910px;
	margin-top: 0;
	padding-bottom: 0;
}

.bodyError .redMessage {
	font-weight: 400;
	padding: 5px 5px 0 48px;
	height: 30px;
}

.bodyError .redMessage i {
	left: 14.5px;
}

/*-------------------------------------------- */
/** ttt1s and Dropdowns styles */
/*-------------------------------------------- */
.ttt1 {
	display: inline-block;
	position: relative;
}

.ttt1 .dropdown-toggle {
	background-color: transparent;
	border: 0 none;
	padding: 0;
	margin-left: 5px;
}

.ttt1 .dropdown-toggle i {
	font-size: 124.14%;
	vertical-align: middle;
	margin: 0;
}

.ttt1 .dropdown-header {
	padding: 0;
	font-size: 110.34%;
	color: #000;
	font-weight: 700;
	margin-top: 0;
	margin-left: initial;
}

.ttt1 .dropdown-menu {
	position: absolute;
	top: -22px;
	left: 35px;
	border: 1px solid #737373;
	width: 300px;
	padding: 35px 25px 25px 20px;
	font-size: inherit !important;
}

.ttt1 .peak {
	position: absolute;
	left: -10px;
	top: 20px;
}

.closeDropdown, .closeModal {
	color: #0659b0;
	font-size: 124.14%;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	line-height: 1;
	padding: 3px 3px 2px 4px;
	border: 1px solid #fff;
}

.closeDropdown:hover, .closeModal:hover {
	border: 1px solid #747474;
	color: #030303;
}

.closeDropdown:focus, .closeDropdown:active, .closeModal:focus, .closeModal:active {
	border: 1px dashed #747474;
	color: #0659b0;
}

.dropdown-menu a {
	font-size: 100%;
}

/*-------------------------------------------- */
/** Forms and inputs */
/*-------------------------------------------- */
.iwrp {
	position: relative;
	display: inline-block;
	width: 100%;
}

.iwrpHalf {
	position: relative;
	display: inline-block;
	float: left;
	width: 40%;
}

.fbq1 input[type=text],
.fbq1 input[type=password] {
	width: 100%;
	margin: 8px 10px 0 0;
	padding: 12px 10px;
	border: 0;
	color: #555;
}

.chwa {
	position: relative;
	display: inline;
	margin-left: 3px;
}

.oldie .chwa {
	top: -3px;
}

/* Checkbox compatible with browsers */
.fbq1 .checkboxInput {
	position: absolute;
	z-index: 100;
	top: -6px;
	left: 0px;
	width: 26px;
	height: 26px;
	opacity: 0;
	cursor: pointer;
}

.fbq1 .checkbox {
	top: 0px;
	width: 26px;
	height: 26px;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	-webkit-appearance: none;
	display: inline-block;
	cursor: pointer;
}

.chwa input[type="checkbox"]:checked + .checkbox:before {
	padding: 0px 5px 0;
	font-family: "Glyphicons Halflings";
	font-size: 110.34%;
	content: "\e013";
	line-height: 1.6;
	text-align: center;
	vertical-align: middle;
	color: #4cb300;
}

.chwa input[type="checkbox"]:focus + .checkbox {
	outline-width: 2px !important;
	outline-style: solid !important;
	outline-color: #66afe9 !important;
	outline-offset: 2px !important;
}

.chwa input[type="checkbox"]:not(:focus) + .checkbox {
	border: 0 none !important;
	outline: none !important;
}

.ie8 .fbq1 .checkboxInput {
	top: -5px;
	left: 0px;
}

/* Select input Sign in post*/
.fbq1 select {
	line-height: 1.2;
	display: block;
	width: 100%;
	height: 40px;
	margin: 10px 10px 20px 0;
	padding: 6px 20px 6px 12px;
	cursor: pointer;
	color: #555;
	border: 1px solid #ccc;
	background: url(a1q.png) #fff no-repeat;
	background-position: right 20px center;
	background-size: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.formFullWidth span {
	position: relative;
	display: table-cell;
	width: 1px;
	margin-left: 1px;
}

.formFullWidth {
	position: relative;
	display: table;
}

.formFullWidth span {
	display: table-cell;
	width: 1%;
}

.formFullWidth .form-control {
	width: auto !important;
}

.formFullWidth button,
.formFullWidth label {
	font-weight: 400;
	right: -1px;
	height: 44px;
	padding: 0 12px;
	text-align: center;
	color: #3c3c3c;
	border: 1px solid #ccc !important;
	background-color: #f9f9f9;
}

.selectSec .input-group {
	width: 370px;
	height: 44px;
	margin: 0;
}

.selectSec .formInputInline {
	padding-top: 0;
}

/* Plaholder.js */
.placeholdersjs {
	color: #333438;
}